/* Animation for button press */
.journey.pressed {
  transform: scale(1.05);
  background-color: #003b7a92;
  transition: all 0.2s ease;
}

/*Scroll-based class toggles (animation of elements when they enter the viewpoint)*/
.header.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.header.show {
  opacity: 1;
  transform: translateY(0);
}