@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Unbounded:wght@200..900&display=swap');

h1{
    color: rgb(22, 19, 35);
    font-size: 50px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top:150px;
}

h2{
    color: rgb(22, 19, 35);
    font-size:20px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    text-align: center;
    margin-top: 20px;

}