@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Unbounded:wght@200..900&display=swap');


body {
  background-image: url(bg\ 2.jpg);
  background-size: cover;
}


h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 80px;
}

h2{
    color: rgb(255, 255, 255);
    font-size:15px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    text-align: center;
    margin-top: 18px;

}

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  padding: 20px;
  width: 100%;
}

.nav-btn {
  border: none;
  padding: 12px 35px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.nav-btn:hover {
  color: #e8e0e0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.featureList {
  margin: 50px auto;
  align-items: center;
  width: max-content;
  background-color: #1a6dc040;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 40px 50px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.05);
}

.featureList ol {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureList li {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 18px;
  color: #ffffff;
  max-width: 300px;
}

.featureHeading {
  display: block;
  font-size: 22px;
  margin-bottom: 8px;
  color: #ffffff;
}